nav {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

nav a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 1.2em;
  transition: ease 0.2s;
}

nav a:hover {
  color: #ccc;
}

.active {
  background-color: #000;
  color: #fff;
}
